{% extends "layout.html" %}

{% block title %}
  Log In
{% endblock %}

{% block content %}
    <body class="text-center">
      <h1 class="mt-3">
        Log In
      </h1>
      <form action="/" method="post">
        <input type="text" name="username" placeholder="Enter Your Username" style="height: 40px;width: 300px;" class="my-3">
        <input type="password" name="password" placeholder="Enter Your Password" style="height: 40px;width: 300px;" class="my-3">
        <button class="btn btn-secondary" type="submit">Submit</button>
      </form>
    </body>
{% endblock %}
